body {
    margin: 0;
}

/* 스크롤바 가리기 */

/* navbar */
#topnav {
    padding: 0 20px;
    height: 100px;
    line-height: 100px;
    background-size: cover;
    background-image: url("https://t1.daumcdn.net/thumb/R720x0/?fname=http://t1.daumcdn.net/brunch/service/user/5xq2/image/0lp8RLaJ2IgctTWVl2nEa-JRCSc.jpg");
}

#topnav #logo{
    vertical-align: middle;
    text-align: center;
    margin: 0 auto;
}

#navbar {
    position: fixed;
    top: 0;
    /* width: 100% */
    left: 0;
    right: 0;
    z-index: 100;
}

#navbar #search {
    width: 100%;
}

.searchbar-div {
    padding: 20px 0px 20px;
    background-color: white;
    z-index: 100;
}

  #navbar #searchbar {
      /* all: unset; */
      outline: none;
      border-radius: 30px;
      width: 600px;
      height: 30px;
      display : block;
      margin : 0 auto;
      /* margin-top: 40px; */
      border: 2px solid lightgray;
      padding-left: 20px;
      font-size: 15px;
  }

  #navbar .menu {
    float: right;
    display: inline;
    clear: left;
    margin: 0px;
    
  }
  
  .menu li {
    list-style: none;
    padding: 0 20px;
    float: left;
    font-size: 16px;
    display: inline;
    margin-top: -15px;
    vertical-align: middle;
  }

  .menu li a {
      text-decoration: none;
      color: white;
      font-size: 17px;
  }
/* navbar */

/* result */
.result {
    margin: 0 60px;
    transform: translateY(20%);
}
/* result */

/* grid cell */
.result .item {
    width: 21%;
    margin: 1em 2%;
    position: relative;
}

.result .item img {
    width: 100%;
    border-radius: 10px;
}

.result .item p {
    margin: 0;
    font-size: 15px;
    padding: 0 0 10px;
}

@media screen and (max-width: 768px) {
    .result .item {
        width: 46%;
    }
}
/* grid cell */

/* in grid cell(like and link) */
.result .item .top {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
}

.result .item .top a {
    outline: none;
}

.result .item .top .save {
    width: 40px;
    height: 40px;
}

.result .item .bottom {
    position: absolute;
    bottom: 29px;
    right: 0px;
    z-index: 10;
}

.result .item .bottom a {
    outline: none;
}

.result .item .bottom .link {
    width: 32px;
    height: 32px;
}
/* in grid cell(like and link) */

/* for event(mouseover and mouserout) */
.dark {
    filter: brightness(50%);
}

.hidden {
    display: none;
}
/* for event(mouseover and mouserout) */