<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index-style.css' %}">
</head>
<body>
    <div class="bg-list">
        <img class="background" src="{% static 'images/1.jpg' %}" alt="">
        <img class="background" src="{% static 'images/2.jpg' %}" alt="">
        <img class="background" src="{% static 'images/3.jpg' %}" alt="">
        <img class="background" src="{% static 'images/4.jpg' %}" alt="">
    </div>
    <div class="logo">
        <img src="{% static 'images/sfslogo.png' %}" alt="">
    </div>
    <div class="main">
        <h1>세상의 모든 사이트를 만나보세요</h1>
        <h3>필요한 서비스는 모두 여기에</h3>
        <a href="{% url 'main' %}"><button>찾아보기</button></a>
    </div>
    <script src="{% static 'js/btn.js' %}"></script>
    <script src="{% static 'js/bg.js' %}"></script>
</body>
</html>
